
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body *{
    color: #333333;
}

/*TITLE AND MAIN IMAGE SECTION*/

#graybox{
    background-color: #EEEEEE;
}

/*LINK LINE*/

a, a:link {
    color: #0000EE;
  }

a, a:visited{
    color: #551A8B;
}
  